# 忽略 VS Code 設定檔
.vscode/

# 忽略 Python 虛擬環境
Methodology_venv/

# 忽略 Python 快取檔案
__pycache__/
*.pyc

# (額外建議) 如果你有用 Mac，通常也建議加上這個
.DS_Store

# 不上傳 Logs
Logs/

# 不上傳 Params
Params/

# 不上傳 Outcome
Outcomes/

# 不上傳 Graph Generator
Graph_Generator/

# 不上傳 Test
Test/

# 不上傳 Dynamic_moving_abandoned
abandoned/

MlpAC_clamp_rec.py

GenDAC_no_clip.py

